<%= form_for @pizza, url: pizzas_path, method: :post do |f| %>
  <% if @pizza.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this pizza from being submitted:
      <ul>
        <% @pizza.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
  <div>
    <%= f.label :uuid %><br>
    <%= f.text_field :uuid %>
  </div>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :toppings %><br>
    <%= f.text_field :toppings %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>